[submodule "src/Native/LIBMFNative/libmf"]
	path = src/Native/MatrixFactorizationNative/libmf
	url = https://github.com/cjlin1/libmf.git
[submodule "lib/TensorFlow.Net"]
	path = lib/TensorFlow.Net
	url = https://github.com/SciSharp/TensorFlow.NET.git
